.vs/
sysroot_device/
H700/sysroot_device/
build/
Windows/
Windows/build/
Windows/logs/
cache/
cache_*.html
logs/
log.txt
src/*.o
book_covers/
books/
ui/
sounds/
trimui-smart-pro-toolchain/
TrimuiBrick/toolchain/
dist_lowglibc/
H700/build/
H700/dist_lowglibc/
H700/logs/
TrimuiBrick/.build
TrimuiBrick/deb_cache/
TrimuiBrick/dist/
TrimuiBrick/dist_lowglibc/
TrimuiBrick/logs/
TrimuiBrick/sysroot_overlay/
TrimuiBrick/workspace/
experimental/
experimental/*.zip
URL/
RGDS/Downloads/
RGDS/dist/
RGDS/dist_official/
RGDS/*.log
RGDS/.rgds_*_files/

!Downloads/
!Downloads/**
!H700/
!H700/Downloads/
!H700/Downloads/**
!H700/toolchain/
!H700/toolchain/**
!TrimuiBrick/Downloads/
!TrimuiBrick/Downloads/**
