sysroot_device/
build/
cache/
logs/
book_covers/
books/
ui/
sounds/
trimui-smart-pro-toolchain/
dist_lowglibc/
TrimuiBrick/.build
TrimuiBrick/deb_cache/
TrimuiBrick/dist/
TrimuiBrick/dist_lowglibc/
TrimuiBrick/logs/
TrimuiBrick/sysroot_overlay/
TrimuiBrick/workspace/

!Downloads/
!Downloads/**
!TrimuiBrick/Downloads/
!TrimuiBrick/Downloads/**
